In [1]:
import pandas as pd
import numpy as np
import os,sys
os.chdir('F:/')

In [86]:
df = pd.read_excel('F:/peexit2019-2021.xlsx',header =0, index_col=0)

In [87]:
df.columns

Index(['Exit Type', 'Transaction Date', 'ClosingDate',
       'Transaction Amount (US$m.)', 'Transaction Currency',
       'Transaction Amount (Transaction Currency)', 'DealType', 'Stake (%)',
       'Investee/Target', 'Investee/Target - Geography',
       'Investee/Target - Primary Industry ',
       'Investee/Target - Secondary Industry', 'Vendor', 'Vendor - Geography',
       'Vendor - Company Type', 'Vendor - Primary Industry',
       'Investor/Acquiror', 'Involved Fund', 'Company Valuation (US$m.)',
       'Estimated Return (IRR)', 'Estimated Return (Multiple)',
       'Holding Month', 'Deal Summary', 'PE Secondary Exit'],
      dtype='object')

In [88]:
df.head()

,Exit Type,Transaction Date,ClosingDate,Transaction Amount (US$m.),Transaction Currency,Transaction Amount (Transaction Currency),DealType,Stake (%),Investee/Target,Investee/Target - Geography,...,Vendor - Company Type,Vendor - Primary Industry,Investor/Acquiror,Involved Fund,Company Valuation (US$m.),Estimated Return (IRR),Estimated Return (Multiple),Holding Month,Deal Summary,PE Secondary Exit
DealID,,,,,,,,,,,,,,,,,,,,,
150105,Trade sale,2019-03-01 00:00:00,2019-03-01 00:00:00,NaN,US Dollar,NaN,Acquisition,NaN,ServiceMonk Technologies Pvt. Ltd. (iService),India,...,Venture Capital,Financial services,Service Lee Technologies Pvt. Ltd. (Servify) (...,NaN,NaN,NaN,NaN,24.0,India-based Servify has acquired its Bengaluru...,No
146299,Trade sale,2019-07-01 00:00:00,2019-07-01 00:00:00,NaN,US Dollar,NaN,Acquisition,100.0,Aasaanjobs,India,...,Venture Capital; Corporate Venture Capital Arm...,Financial services; Financial services; Financ...,"OLX, Inc. (United States)","Inventus Capital Partners Fund I, L.P, Inventu...",NaN,NaN,NaN,48.1,Naspers-backed classifieds portal OLX has acqu...,No
144199,Trade sale,2019-08-01 00:00:00,3/31/2019,NaN,Indian Rupee,NaN,Acquisition,NaN,Kaalbi Technologies Pvt. Ltd. (ShieldSquare),India,...,Venture Capital,Financial services,Radware Ltd (United States),NaN,NaN,NaN,NaN,14.6,Israel and US-based cybersecurity company Radw...,No
141866,Trade sale,2019-08-01 00:00:00,2019-12-09 00:00:00,976.12,China Yuan Renminbi,6700.0,Acquisition,100.0,"Guangdong Aiko Solar Energy Technology Co., Ltd.",China (PRC),...,Corporation; Corporate Venture Capital Arm; Ve...,Electronics; Financial services; Financial ser...,"Shanghai Xinmei Real Estate Co., Ltd. (China (...",NaN,976.12,NaN,NaN,NaN,Shanghai Xinmei Real Estate has agreed to acqu...,No
142882,Trade sale,2019-09-01 00:00:00,2019-09-01 00:00:00,NaN,US Dollar,NaN,Acquisition,NaN,Marketo KK,Japan,...,Venture Capital,Financial services,Adobe Systems Inc. (United States),NaN,NaN,NaN,NaN,NaN,"SunBridge Partners has exited Marketo Japan, a...",No

In [89]:
df['year'] = pd.DatetimeIndex(df['Transaction Date']).year

In [106]:
# df['month'] = pd.DatetimeIndex(df['Transaction Date']).month
# df['half year'] = np.where(df['month']<=6, '1H','2H')
# df['semi year'] =  df['year'].astype(str) + ' '+ df['half year']

In [61]:
def total(x):
    return x.isna().sum() + x.notna().sum()
def disclosed(x):
    return x.notna().sum()

In [90]:
df.tail()

,Exit Type,Transaction Date,ClosingDate,Transaction Amount (US$m.),Transaction Currency,Transaction Amount (Transaction Currency),DealType,Stake (%),Investee/Target,Investee/Target - Geography,...,Vendor - Primary Industry,Investor/Acquiror,Involved Fund,Company Valuation (US$m.),Estimated Return (IRR),Estimated Return (Multiple),Holding Month,Deal Summary,PE Secondary Exit,year
DealID,,,,,,,,,,,,,,,,,,,,,
116977,PE Secondary Exit,3/20/2020,3/20/2020,47.38,Indian Rupee,3500.0,VC Investment,NaN,Veritas Finance Pvt. Ltd.,India,...,Financial services,Individual Investor(s) (India); Kedaara Capita...,Lok Capital Growth Fund IV,NaN,NaN,NaN,NaN,India-based non-banking financial company (NBF...,Yes,2020
132520,PE Secondary Exit,2020-05-06 00:00:00,2020-05-06 00:00:00,3.44,Indian Rupee,260.0,VC Investment,NaN,Aviom India Housing Finance Pvt Ltd,India,...,Financial services,Gojo & Company Inc. (Japan),NaN,NaN,NaN,NaN,NaN,India-based Aviom India Housing Finance has ra...,Yes,2020
155344,PE Secondary Exit,9/30/2020,9/30/2020,3.13,Japanese Yen,330.0,VC Investment,NaN,"AViC Co., Ltd.",Japan,...,Financial services,Mizuho Capital (Japan); Mobile Internet Capita...,NaN,NaN,NaN,NaN,NaN,Mizuho Capital and Mobile Internet Capital has...,Yes,2020
157443,PE Secondary Exit,10/30/2020,2020-11-06 00:00:00,NaN,China Yuan Renminbi,NaN,VC Investment,12.36,"Suzhou Feikong Taike Technology Co., Ltd.",China (PRC),...,Unclassified; Financial services,"Shanghai Xinshuo Investment Management Co., Lt...",NaN,NaN,NaN,NaN,12.6,Shanghai Xinshuo Investment Management has agr...,Yes,2020
116153,PE Secondary Exit,2020-10-11 00:00:00,2020-10-11 00:00:00,110.00,US Dollar,110.0,VC Investment,31.00,BusyBees Logistics Solutions Pvt. Ltd. (Xpress...,India,...,Financial services; Financial services; Unclas...,Gaja Capital Partners (India); Investcorp (Bah...,NaN,354.84,NaN,NaN,57.5,India-based E-commerce focused end-to-end supp...,Yes,2020

In [91]:
df1 = df[ df['year'] == 2019]
df2 = df[ df['year'] == 2020]
df3 = df[ df['year'] == 2021]

In [107]:
df3

,Exit Type,Transaction Date,ClosingDate,Transaction Amount (US$m.),Transaction Currency,Transaction Amount (Transaction Currency),DealType,Stake (%),Investee/Target,Investee/Target - Geography,...,Vendor - Primary Industry,Investor/Acquiror,Involved Fund,Company Valuation (US$m.),Estimated Return (IRR),Estimated Return (Multiple),Holding Month,Deal Summary,PE Secondary Exit,year
DealID,,,,,,,,,,,,,,,,,,,,,
157431,Trade sale,2021-05-01 00:00:00,2021-05-01 00:00:00,NaN,Japanese Yen,NaN,Acquisition,100.0,Yokoi Manufacturing Ltd.,Japan,...,Financial services,"HATSUTA SEISAKUSHO Co.,Ltd. (Japan)",J-STAR No.3 Investment Limited Partnership,NaN,NaN,NaN,36.0,Hatsuda Seisakusho has acquired Yokoi Manufact...,No,2021
157430,Trade sale,2021-06-01 00:00:00,2021-06-01 00:00:00,NaN,Japanese Yen,NaN,Acquisition,100.0,NHS Insurance Group Inc.,Japan,...,Financial services,Asahi Mutual Life Insurance Co. (Japan),J-STAR No.2 Investment Limited Partnership,NaN,NaN,NaN,68.2,Asahi Life has acquired the healthcare special...,No,2021
157411,Trade sale,2021-06-01 00:00:00,2021-06-01 00:00:00,12.96,Japanese Yen,1335.0,Acquisition,100.0,"Lift Capital Co., Ltd.",Japan,...,Financial services,BeNext Group Inc. (Japan),NaN,12.96,NaN,NaN,NaN,"BENEXT has acquired Lift Capital, a holding co...",No,2021
157561,Trade sale,2021-11-01 00:00:00,NaN,NaN,Australian Dollar,NaN,Acquisition,50.0,Servian Pty Ltd.,Australia,...,Financial services,Cognizant Technology Solutions Corp. (United S...,Adamantem Capital Fund I (Adamantem Capital I),NaN,NaN,NaN,28.6,Adamanten Capital has agreed to sell its 50% s...,No,2021
157554,Share buyback,2021-12-01 00:00:00,2021-12-01 00:00:00,NaN,Japanese Yen,NaN,Acquisition,100.0,"ESCO Co., Ltd. ( Energy Solution Company)",Japan,...,Financial services,ESCO Holdings (Japan),NaN,NaN,NaN,NaN,NaN,"ESCO Holdings, set up by the management team o...",No,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158743,PE Secondary Exit,2/23/2021,NaN,1324.65,Australian Dollar,1683.0,Private Equity Buyout,76.5,Zhaopin Ltd.,China (PRC),...,Financial services; Services - Non-Financial,FountainVest Advisors (Hong Kong); Primavera C...,"Hillhouse Fund III, L.P.",1731.57,NaN,NaN,47.3,A Consortium of investors led by Primavera Cap...,Yes,2021
158752,PE Secondary Exit,2/25/2021,NaN,663.63,South Korean Won,733800.0,Private Equity Buyout,73.1,"Rongqing Logistics Co., Ltd. (CJ Rokin Logisti...",China (PRC),...,Transportation/ Distribution; Financial services,FountainVest Advisors (Hong Kong),STIC CJ Global Investment Corporate PEF,907.83,NaN,1.61,66.6,FountainVest Partners has acquired a 73.1% sta...,Yes,2021
158759,PE Secondary Exit,2021-05-03 00:00:00,NaN,797.82,South Korean Won,900000.0,Private Equity Buyout,100.0,"JobKorea Co., Ltd.",South Korea,...,Financial services,Affinity Equity Partners (Hong Kong),NaN,797.82,NaN,4.40,89.2,Affinity Equity Partners has acquired JobKorea...,Yes,2021
159123,PE Secondary Exit,3/15/2021,NaN,154.61,Australian Dollar,200.0,Private Equity Buyout,NaN,TSA Management Pty Ltd.,Australia,...,Financial services,Quadrant Private Equity (Australia),NaN,NaN,NaN,NaN,40.5,Livingbridge EP LLP agreed to sell its stake i...,Yes,2021
159482,PE Secondary Exit,3/30/2021,3/30/2021,NaN,Japanese Yen,NaN,Private Equity Buyout,100.0,"Sokan Co., Ltd.",Japan,...,Financial services,Nippon Sangyo Suishin Kiko (Japan),ant Catalyzer No.4 Private Equity Investment L.P.,NaN,NaN,NaN,78.2,"Ant Capital has sold all its stake in Sokan, a...",Yes,2021

In [108]:
table = pd.pivot_table(df3, values='Transaction Amount (US$m.)', index=['Investee/Target - Geography'],

                    columns=['Exit Type'], aggfunc= [np.sum,total,disclosed])

In [109]:
table

                                sum                                     \
Exit Type                       IPO Open market sale PE Secondary Exit
Investee/Target - Geography
Australia                     43.69              NaN            384.61
China (PRC)                     NaN              NaN           2240.22
Hong Kong                       NaN              NaN               NaN
India                           NaN             0.00            840.94
Japan                        285.58           431.66              0.00
New Zealand                  140.78              NaN               NaN
Singapore                    367.45              NaN               NaN
South Korea                  936.35            25.20            924.66
Taiwan                        83.56              NaN               NaN

                                                     total                   \
Exit Type                   Share buyback Trade sale   IPO Open market sale
Investee/Target - Geography
Australia                             NaN    1334.47   2.0              NaN
China (PRC)                           NaN    5289.11   NaN              NaN
Hong Kong                             NaN      75.95   NaN              NaN
India                                 NaN    1717.51   NaN              2.0
Japan                                 0.0      83.35   4.0              3.0
New Zealand                           NaN    1400.00   1.0              NaN
Singapore                             NaN        NaN   1.0              NaN
South Korea                           NaN     270.34   1.0              3.0
Taiwan                                NaN        NaN   1.0              NaN

                                                                        \
Exit Type                   PE Secondary Exit Share buyback Trade sale
Investee/Target - Geography
Australia                                 2.0           NaN       10.0
China (PRC)                               4.0           NaN       16.0
Hong Kong                                 NaN           NaN        3.0
India                                     4.0           NaN       18.0
Japan                                     3.0           1.0       11.0
New Zealand                               NaN           NaN        2.0
Singapore                                 NaN           NaN        NaN
South Korea                               2.0           NaN        3.0
Taiwan                                    NaN           NaN        NaN

                            disclosed                                     \
Exit Type                         IPO Open market sale PE Secondary Exit
Investee/Target - Geography
Australia                         1.0              NaN               2.0
China (PRC)                       NaN              NaN               4.0
Hong Kong                         NaN              NaN               NaN
India                             NaN              0.0               3.0
Japan                             4.0              1.0               0.0
New Zealand                       1.0              NaN               NaN
Singapore                         1.0              NaN               NaN
South Korea                       1.0              3.0               2.0
Taiwan                            1.0              NaN               NaN


Exit Type                   Share buyback Trade sale
Investee/Target - Geography
Australia                             NaN        6.0
China (PRC)                           NaN       13.0
Hong Kong                             NaN        1.0
India                                 NaN        8.0
Japan                                 0.0        4.0
New Zealand                           NaN        2.0
Singapore                             NaN        NaN
South Korea                           NaN        3.0
Taiwan                                NaN        NaN

In [110]:
table.to_excel('exit2021.xlsx')

In [81]:
df4  = df[(df['FinancingStage'] == 'Start-up/ Early Stage') | (df['FinancingStage'] == 'Seed/R&D') | (df['FinancingStage'] == 'Concept')]

In [82]:
df4.head(50)

,Deal Type,Transaction Date,Closing Date,Deal Status,Transaction Amount (US$m.),Transaction Currency,Transaction Amount (Transaction Currency),Stake (%),FinancingStage,Round,...,Investors,Investor Geography,Investor Company Type,Investor Primary Industry,Vendor,Involved Fund,Company Valuation(US$m.),Portfolio Status,Deal Summary,year
Deal ID,,,,,,,,,,,,,,,,,,,,,
154617,VC Investment,2020-07-09 00:00:00,2020-07-09 00:00:00,Closed,14.62,China Yuan Renminbi,100.0,NaN,Start-up/ Early Stage,1st Round,...,GeniLink Capital,China (PRC),Venture Capital,Financial services,NaN,NaN,NaN,Current,GeniLink Capital has invested nearly RMB100 mi...,2020
152454,VC Investment,05/26/2020,NaN,Definitive Agreement,0.10,US Dollar,0.1,NaN,Seed/R&D,1st Round,...,Antler,Singapore,Venture Capital,Financial services,NaN,NaN,NaN,Current,Singapore-based startup generator Antler has a...,2020
145744,VC Investment,2019-08-08 00:00:00,2019-08-08 00:00:00,Closed,1.50,US Dollar,1.5,NaN,Start-up/ Early Stage,1st Round,...,"Mistletoe, Inc.",Japan,Venture Capital,Financial services,NaN,NaN,NaN,Current,"00Ground, a South Korea-based social real esta...",2019
151844,VC Investment,2020-11-05 00:00:00,2020-11-05 00:00:00,Closed,5.00,US Dollar,5.0,NaN,Start-up/ Early Stage,1st Round,...,Carlyle Asia - China,United States,Buyout Firm,Financial services,NaN,NaN,NaN,Current,Carlyle Asia has invested $5 million in angel ...,2020
144653,VC Investment,06/18/2019,06/18/2019,Closed,NaN,China Yuan Renminbi,NaN,NaN,Start-up/ Early Stage,1st Round,...,Lakala Investment (Koala Fund); Panda Capital ...,China (PRC); Hong Kong; China (PRC),Corporate Venture Capital Arm; Private Equity;...,Financial services; Financial services; Financ...,NaN,NaN,NaN,Current,"1003 POLO, a China-based Polo event management...",2019
143993,VC Investment,05/14/2019,05/14/2019,Closed,2.27,Japanese Yen,250.0,NaN,Start-up/ Early Stage,1st Round,...,DCM Ventures; Individual Investor(s),United States; Japan,Venture Capital; Private Investor,Financial services; Unclassified,NaN,NaN,NaN,Current,"10x, a Japan-based company operates meals orde...",2019
123676,VC Investment,03/28/2019,03/28/2019,Closed,NaN,China Yuan Renminbi,NaN,NaN,Start-up/ Early Stage,4th Round,...,China Renaissance K2 Ventures (K2VC),China (PRC),Venture Capital,Financial services,NaN,Xianfeng Qiyun Fund,NaN,Current,"12dong, an online original animation producer ...",2019
148603,VC Investment,10/31/2019,NaN,Definitive Agreement,NaN,US Dollar,NaN,NaN,Start-up/ Early Stage,1st Round,...,Gojek Xcelerate,Indonesia,Venture Capital,Financial services,NaN,NaN,NaN,Current,"Indonesia-based Gojek Xcelerate, has agreed to...",2019
146982,VC Investment,2019-04-09 00:00:00,2019-04-09 00:00:00,Closed,0.94,Japanese Yen,100.0,NaN,Start-up/ Early Stage,1st Round,...,Undisclosed Investor(s),Japan,Private Investor,Unclassified,NaN,NaN,NaN,Current,"1Sec, a Japan-based company focus on Virtual H...",2019
146982,VC Investment,2021-05-02 00:00:00,2021-05-02 00:00:00,Closed,1.62,Japanese Yen,170.0,NaN,Start-up/ Early Stage,2nd Round,...,"Ceres, Inc.; East Ventures; gumi ventures Inc....",Japan; Singapore; Japan; Japan,Corporation; Venture Capital; Corporate Ventur...,Media; Financial services; Financial services;...,NaN,NaN,NaN,Current,"1sec, a Japan-based company focus on Virtual H...",2021
153788,VC Investment,07/29/2020,07/29/2020,Closed,14.14,South Korean Won,17000.0,NaN,Start-up/ Early Stage,3rd Round,...,"Neoplux Capital Co., Ltd.; Smilegate Investmen...",South Korea; South Korea,Venture Capital; Venture Capital,Financial services; Financial services,NaN,NaN,NaN,Current,"1STBIO, a South Korean company dedicated to de...",2020
140915,VC Investment,2019-05-09 00:00:00,2019-05-09 00:00:00,Closed,1.40,Indian Rupee,100.0,NaN,Start-up/ Early Stage,2nd Round,...,Prime Venture Partners,India,Venture Incubator,Financial services,NaN,NaN,NaN,Current,"India-based OTO Capital, an automotive fintech...",2019
140915,VC Investment,2019-02-12 00:00:00,2019-02-12 00:00:00,Closed,NaN,US Dollar,NaN,NaN,Start-up/ Early Stage,3rd Round,...,RB Investments Pte Ltd.,Singapore,Venture Capital,Financial services,NaN,NaN,NaN,Current,"India-based OTO Capital, an automotive fintech...",2019
154259,VC Investment,08/24/2020,08/24/2020,Closed,0.76,Japanese Yen,80.0,NaN,Start-up/ Early Stage,1st Round,...,"Energy & Environment Investment, Inc.; Vega Corp.",Japan; Japan,Corporate Venture Capital Arm; Corporation,Financial services; Information technology,NaN,NaN,NaN,Current,"EEI, VEGA corp. have invested JPY80 million in...",2020
143529,VC Investment,04/16/2019,04/16/2019,Closed,NaN,China Yuan Renminbi,NaN,NaN,Start-up/ Early Stage,2nd Round,...,Faxian Venture Capital; Legend Star,China (PRC); China (PRC),Venture Capital; Corporate Venture Capital Arm,Financial services; Financial services,NaN,NaN,NaN,Current,"24Kick, a China-based martial arts training se...",2019
155813,VC Investment,10/22/2020,10/22/2020,Closed,0.31,South Korean Won,350.0,NaN,Seed/R&D,1st Round,...,Korea Social Investment Foundation (KSIF); MAG...,South Korea; South Korea,Endowment/Foundation; Venture Capital,Financial services; Financial services,NaN,NaN,NaN,Current,"276 HOLDINGS, an online financial agency, spec...",2020
149239,VC Investment,01/13/2020,01/13/2020,Closed,NaN,South Korean Won,NaN,NaN,Seed/R&D,1st Round,...,Mashup Angels,South Korea,Venture Incubator,Financial services,NaN,NaN,NaN,Current,"2EASY Labs, a South Korean software company th...",2020
142903,VC Investment,2019-08-03 00:00:00,2019-08-03 00:00:00,Closed,NaN,South Korean Won,NaN,NaN,Start-up/ Early Stage,3rd Round,...,Enlight Ventures; Seoul Investment Partners Co...,South Korea; South Korea,Venture Capital; Venture Capital,Financial services; Financial services,NaN,NaN,NaN,Current,"2Hae Lifestyle, a South Korea-based online fur...",2019
157660,VC Investment,01/18/2021,01/18/2021,Closed,4.82,Japanese Yen,500.0,NaN,Start-up/ Early Stage,1st Round,...,"JAFCO Group Co., Ltd.",Japan,Venture Capital,Financial services,NaN,NaN,NaN,Current,"3-Shake, operates SRE-specialized consulting b...",2021
147430,VC Investment,10/24/2019,10/24/2019,Closed,1.20,Japanese Yen,130.0,NaN,Start-up/ Early Stage,1st Round,...,Innovations and Future Creation Inc. (MIRAI SO...,Japan; Japan,Venture Capital; Corporation,Financial services; Financial services,NaN,"Future Creation No.1 Investment, L.P.",NaN,Current,Miraisozo and Yamanashi Chuo bank have investe...,2019
153133,VC Investment,2020-01-07 00:00:00,2020-01-07 00:00:00,Closed,NaN,China Yuan Renminbi,NaN,NaN,Start-up/ Early Stage,3rd Round,...,Beijing Shengshi Hongming Investment Fund Mana...,China (PRC); China (PRC); China (PRC),Private Equity; Private Equity; Private Investor,Financial services; Financial services; Unclas...,NaN,NaN,NaN,Current,"3D Printing Technology (3DPTEK), a leading ind...",2020
154668,VC Investment,09/27/2019,09/27/2019,Closed,NaN,China Yuan Renminbi,NaN,NaN,Start-up/ Early Stage,2nd Round,...,Chengmei Venture Capital,China (PRC),Venture Capital,Financial services,NaN,NaN,NaN,Current,"3pesport, an education service provider for vi...",2019
146373,VC Investment,2019-04-09 00:00:00,2019-04-09 00:00:00,Closed,5.03,Indian Rupee,360.0,NaN,Start-up/ Early Stage,1st Round,...,Exfinity Venture Partners LLP; Parampara Capit...,India; India; India,Venture Capital; Venture Capital; Venture Capital,Financial services; Financial services; Financ...,NaN,Parampara Early Stage Opportunities Fund I,NaN,Current,India-based immersive experiences company 3RDF...,2019
158718,VC Investment,2021-04-03 00:00:00,2021-04-03 00:00:00,Closed,3.00,Japanese Yen,320.0,NaN,Start-up/ Early Stage,1st Round,...,"ANOBAKA, Inc.; ANRI; Medical Note Inc.; Medius...",Japan; Japan; Japan; Japan; Japan,Venture Capital; Venture Capital; Corporation;...,Financial services; Financial services; Inform...,NaN,NaN,NaN,Current,"3 Sunny, which provides SaaS for medical insti...",2021
158783,VC Investment,2021-03-03 00:00:00,2021-03-03 00:00:00,Closed,0.44,South Korean Won,500.0,NaN,Seed/R&D,1st Round,...,Klim Ventures Inc.,South Korea,Venture Capital,Financial services,NaN,NaN,NaN,Current,"40FY, a South Korean company that provides onl...",2021
154032,VC Investment,2020-05-08 00:00:00,2020-05-08 00:00:00,Closed,1.68,South Korean Won,2000.0,NaN,Start-up/ Early Stage,2nd Round,...,Korea Development Bank,South Korea,Government Affiliate,Financial services,NaN,NaN,NaN,Current,"42Maru, a provider from South Korea for Questi...",2020
145851,VC Investment,07/31/2019,NaN,Definitive Agreement,0.01,Indian Rupee,0.5,NaN,Start-up/ Early Stage,1st Round,...,ELEVATE 100,India,Government Affiliate,Financial services,NaN,NaN,NaN,Current,"India-based ELEVATE 100, brainchild of Karnata...",2019
152943,VC Investment,06/28/2020,06/28/2020,Closed,14.12,China Yuan Renminbi,100.0,NaN,Start-up/ Early Stage,2nd Round,...,CMC Capital Partners (China Media Capital); Se...,China (PRC); United States,Private Equity; Venture Capital,Financial services; Financial services,NaN,NaN,NaN,Current,"4D ShoeTech, a Tech company providing end-to-e...",2020
145366,VC Investment,07/22/2019,07/22/2019,Closed,NaN,China Yuan Renminbi,NaN,NaN,Start-up/ Early Stage,1st Round,...,Albatross Venture,China (PRC),Venture Capital,Financial services,NaN,NaN,NaN,Current,"4kmiles, a China-based operation platform deve...",2019
158036,VC Investment,2021-03-02 00:00:00,2021-03-02 00:00:00,Closed,5.00,US Dollar,5.0,NaN,Start-up/ Early Stage,2nd Round,...,Individual Investor(s); Monk's Hill Ventures P...,Singapore; Singapore; Singapore; United States...,Private Investor; Venture Capital; Government ...,Unclassified; Financial services; Financial se...,NaN,SeedPlus Fund I,NaN,Current,"Singapore-based Bot MD, an AI-based clinical a...",2021
142806,VC Investment,2019-03-03 00:00:00,2019-03-03 00:00:00,Closed,7.46,China Yuan Renminbi,50.0,NaN,Start-up/ Early Stage,1st Round,...,Nanling Private Equity Fund Management (Shenzh...,China (PRC),Private Equity,Financial services,NaN,Shenzhen Nanling Huiye Strategic Emerging Indu...,NaN,Current,"51 Youse.com, a China-based B2B E-commerce pla...",2019
145839,VC Investment,2019-09-08 00:00:00,2019-09-08 00:00:00,Closed,0.14,China Yuan Renminbi,1.0,NaN,Seed/R&D,1st Round,...,Guanfang Capital,China (PRC),Venture Capital,Financial services,NaN,NaN,NaN,Current,"56 Food, a China-based condiment brand develop...",2019
142034,VC Investment,01/21/2019,01/21/2019,Closed,NaN,US Dollar,NaN,NaN,Seed/R&D,1st Round,...,Axilor Ventures; Centre for Innovation Incubat...,India; India; India,Venture Incubator; Venture Incubator; Venture ...,Financial services; Financial services; Financ...,NaN,Unitus Seed Fund II,NaN,Current,India-based radiology platform 5C Network has ...,2019
142034,VC Investment,2020-08-12 00:00:00,2020-08-12 00:00:00,Closed,1.20,US Dollar,1.2,NaN,Start-up/ Early Stage,2nd Round,...,Axilor Ventures; Unitus Ventures,India; India,Venture Incubator; Venture Capital,Financial services; Financial services,NaN,"Axilor Technology Fund, Unitus Seed Fund II",NaN,Current,India-based digital radiology platform provide...,2020
156104,VC Investment,10/26/2020,10/26/2020,Closed,5.32,South Korean Won,6000.0,NaN,Start-up/ Early Stage,1st Round,...,"AJU IB Investment Co., Ltd.; HYK Partners; Kor...",South Korea; South Korea; South Korea; South K...,Venture Capital; Private Equity; Financial Ins...,Financial services; Financial services; Financ...,NaN,NaN,NaN,Current,"5minlab, a South Korean game company, has rais...",2020
142169,VC Investment,01/29/2019,01/29/2019,Closed,0.91,Japanese Yen,100.0,NaN,Start-up/ Early Stage,1st Round,...,"AG Capital Co., Ltd.; Apricot Ventures Co., Lt...",Japan; Japan; Japan; Japan,Corporate Venture Capital Arm; Corporate Ventu...,Financial services; Financial services; Financ...,NaN,NaN,NaN,Current,"600, a Japanese unmanned convenience stores op...",2019
146072,VC Investment,2019-12-02 00:00:00,2019-12-02 00:00:00,Closed,NaN,US Dollar,NaN,NaN,Start-up/ Early Stage,1st Round,...,Central Capital Ventura; PT Global Digital Pri...,Indonesia; Indonesia,Venture Capital; Venture Capital,Financial services; Financial services,NaN,NaN,NaN,Current,"Singapore-based 6ESTATES, an artificial intell...",2019
143907,VC Investment,2019-08-05 00:00:00,2019-08-05 00:00:00,Closed,NaN,Singapore Dollar,NaN,NaN,Seed/R&D,1st Round,...,East Ventures Pte. Ltd.,Singapore,Venture Capital,Financial services,NaN,NaN,NaN,Current,"7.5 Degree, a Sinpore-based Southeast Asia's n...",2019
146374,VC Investment,2019-04-09 00:00:00,2019-04-09 00:00:00,Closed,18.00,US Dollar,18.0,NaN,Start-up/ Early Stage,1st Round,...,Breakthrough Energy Ventures; Building Venture...,United States; United States; United States; U...,Venture Capital; Venture Capital; Venture Capi...,Financial services; Financial services; Financ...,NaN,NaN,NaN,Current,India & US-based building automation system 75...,2019
151103,VC Investment,2020-08-04 00:00:00,2020-08-04 00:00:00,Closed,34.00,US Dollar,34.0,NaN,Start-up/ Early Stage,1st Round,...,A consortium of Australian superannuation fund...,Australia; United States; Australia,Venture Capital; Investment Bank; Private Inve...,Financial services; Financial services; Unclas...,NaN,NaN,NaN,Current,Australia-based 86 400 has raised $34 million ...,2020
139285,VC Investment,2020-07-08 00:00:00,2020-07-08 00:00:00,Closed,1.68,South Korean Won,2000.0,NaN,Start-up/ Early Stage,6th Round,...,Small & Medium Business Corp.,South Korea,Government Affiliate,Financial services,NaN,NaN,NaN,Current,"8percent, a P2P mezzanine lender in South Kore...",2020
103756,VC Investment,08/20/2019,08/20/2019,Closed,15.20,US Dollar,15.2,NaN,Start-up/ Early Stage,4th Round,...,Allianz X GmbH; MindWorks Capital,Germany; Hong Kong,Corporate Venture Capital Arm; Venture Capital,Financial services; Financial services,NaN,NaN,NaN,Current,"Singapore-based 99.co, a property search platf...",2019
145836,VC Investment,2019-12-08 00:00:00,2019-12-08 00:00:00,Closed,NaN,South Korean Won,NaN,NaN,Seed/R&D,1st Round,...,Mashup Angels,South Korea,Venture Incubator,Financial services,NaN,NaN,NaN,Current,Mashup Angels has invested an undisclosed sum ...,2019
150709,VC Investment,02/28/2020,02/28/2020,Closed,NaN,Japanese Yen,NaN,NaN,Start-up/ Early Stage,1st Round,...,"Mitsui Sumitomo Insurance Venture Capital Co.,...",Japan,Insurance Firm Subsidiary,Financial services,NaN,NaN,NaN,Current,MSIVC has invested an undisclosed amount in 9l...,2020
144710,VC Investment,06/21/2019,06/21/2019,Closed,1.69,South Korean Won,2000.0,NaN,Seed/R&D,1st Round,...,Fast Track Asia (Fast Ventures); Stand Company,South Korea; South Korea,Venture Incubator; Corporation,Financial services; Financial services,NaN,NaN,NaN,Current,"9tap, a South Korea-based game publishing star...",2019
156071,VC Investment,2020-02-11 00:00:00,2020-02-11 00:00:00,Closed,2.87,Japanese Yen,300.0,NaN,Start-up/ Early Stage,1st Round,...,"Abies Ventures, Inc.; Business Creation Capita...",Japan; Japan; Japan; Japan; Japan; Japan; Unit...,Venture Capital; Venture Capital; Corporation;...,Financial services; Financial services; Servic...,NaN,"Mitsubishi UFJ Capital No.7 Investment, L.P., ...",NaN,Current,"A*Quantum, a Japan-based company that engages ...",2020
147163,VC Investment,2019-12-03 00:00:00,2019-12-03 00:00:00,Closed,0.48,Japanese Yen,53.0,NaN,Start-up/ Early Stage,1st Round,...,BEENEXT Capital Management Pte. Ltd.; Colopl N...,Singapore; Japan; Japan,Venture Capital; Corporate Venture Capital Arm...,Financial services; Financial services; Comput...,NaN,Colopl Next Generation Fund (Colopl Next No.3 ...,NaN,Current,"BEENEXT2 Pte. Ltd., PKSHA Technology, Colopl N...",2019
147163,VC Investment,2019-02-10 00:00:00,2019-02-10 00:00:00,Closed,2.78,Japanese Yen,300.0,NaN,Start-up/ Early Stage,2nd Round,...,BEENEXT Capital Management Pte. Ltd.; Individu...,Singapore; Japan; Japan; Japan,Venture Capital; Private Investor; Corporate V...,Financial services; Unclassified; Financial se...,NaN,PKSHA SPARX Algorithm No.1 Investment L.P.,NaN,Current,"BEENEXT2 Pte. Ltd., SPARX AI & Technologies In...",2019
159008,VC Investment,2020-02-12 00:00:00,2020-02-12 00:00:00,Closed,1.79,Indian Rupee,132.0,NaN,Start-up/ Early Stage,1st Round,...,Surge Ahead,United States,Venture Incubator,Financial services,NaN,NaN,NaN,Current,"US and Singapore-based Aampe, a personalized m...",2020
150375,VC Investment,2020-11-02 00:00:00,NaN,Agreement in Principle,0.02,Indian Rupee,1.5,NaN,Seed/R&D,1st Round,...,N/Core,India,Venture Incubator,Financial services,NaN,NaN,NaN,Current,India-based healthtech nonprofit startup Aaroo...,2020

In [23]:
# Exit 2013-2016 , investee row, year column

In [83]:
table2 = pd.pivot_table(df4, values='Transaction Amount (US$m.)', index=['Investee Geography'],

                    columns=['year'], aggfunc=[np.sum, total,disclosed])

In [84]:
table2

                        sum                    total               disclosed  \
year                   2019     2020    2021    2019   2020   2021      2019
Investee Geography
Australia            477.25   371.85  119.37    85.0   90.0   14.0      70.0
Bangladesh             1.74    23.45     NaN     6.0    8.0    NaN       4.0
Brunei                 0.00      NaN     NaN     1.0    NaN    NaN       0.0
Cambodia               6.60     0.90     NaN     2.0    2.0    NaN       2.0
China (PRC)         4944.85  5870.85  659.14  1291.0  875.0  128.0     347.0
Hong Kong            112.80   131.19    2.00    44.0   32.0    2.0      20.0
India               1710.22  1527.19  265.80   520.0  572.0   93.0     361.0
Indonesia            373.28   261.17   69.75   115.0  115.0   15.0      51.0
Japan               1070.94   745.31  180.17   433.0  396.0  126.0     300.0
Laos                    NaN     0.00     NaN     NaN    1.0    NaN       NaN
Malaysia              21.98    11.45   29.00    37.0   54.0    2.0      28.0
Myanmar (Burma)        2.83     0.75     NaN    23.0    3.0    NaN      10.0
Nepal                  0.20      NaN     NaN     1.0    NaN    NaN       1.0
New Zealand           28.70    30.72    0.00    17.0   18.0    2.0      12.0
Pakistan              37.54    22.28    7.50    14.0    9.0    2.0      12.0
Philippines           14.00    23.85    1.88    21.0   17.0    3.0      12.0
Singapore            491.48   393.90  431.38   189.0  179.0   29.0     108.0
South Korea         1509.92  1888.40  275.36   451.0  383.0   76.0     295.0
Sri Lanka              0.00      NaN    1.00     1.0    NaN    1.0       0.0
Taiwan                22.73    11.61    0.00     9.0   13.0    1.0       6.0
Thailand              38.01    48.71    4.60    23.0   10.0    5.0      13.0
Vietnam               48.61    24.85   25.70    39.0   27.0    4.0      22.0


year                 2020  2021
Investee Geography
Australia            79.0  13.0
Bangladesh            7.0   NaN
Brunei                NaN   NaN
Cambodia              1.0   NaN
China (PRC)         264.0  35.0
Hong Kong            22.0   1.0
India               382.0  75.0
Indonesia            47.0   8.0
Japan               261.0  86.0
Laos                  0.0   NaN
Malaysia             48.0   2.0
Myanmar (Burma)       1.0   NaN
Nepal                 NaN   NaN
New Zealand          12.0   0.0
Pakistan              8.0   2.0
Philippines           8.0   3.0
Singapore           121.0  18.0
South Korea         257.0  60.0
Sri Lanka             NaN   1.0
Taiwan                8.0   0.0
Thailand              6.0   1.0
Vietnam              16.0   3.0

In [85]:
table2.to_excel('table3.xlsx')

In [77]:
table3 = pd.pivot_table(df, values='Transaction Amount (US$m.)', index=['Exit Type'],

                    columns=['semi year'], aggfunc=np.sum)

In [78]:
table3

semi year,2013 1H,2013 2H,2014 1H,2014 2H,2015 1H,2015 2H,2016 1H,2016 2H,2017 1H,2017 2H,2018 1H,2018 2H,2019 1H,2019 2H,2020 1H,2020 2H
Exit Type,,,,,,,,,,,,,,,,
IPO,1458.44,1734.89,3683.90,5630.53,1952.90,2519.31,1472.29,1558.71,2622.78,2690.91,1196.68,1324.24,339.15,1757.25,1073.81,1716.19
Open market sale,9717.14,4094.70,4380.25,6857.78,9129.32,3720.81,4826.44,4277.19,9559.74,5851.67,6848.93,1457.25,2651.30,1800.32,439.23,970.16
PE Secondary Exit,4926.84,4900.36,5140.30,6165.31,2998.87,4078.55,3562.77,5981.10,5911.65,16479.02,12800.68,12716.31,5482.15,11160.04,5200.70,5251.59
Share buyback,1384.78,747.38,2398.80,1060.55,2600.59,1185.34,1227.87,1018.98,2958.64,1220.79,7064.53,2044.23,876.48,2057.23,34.22,159.07
Trade sale,9969.14,9733.87,20710.45,21567.07,14227.63,20403.87,30256.45,25872.69,20370.48,26357.46,48665.74,30770.35,26605.30,21141.40,7970.26,9300.52
Written off,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,0.00,NaN

In [79]:
table3.to_excel('table3.xlsx')

In [80]:
table4 = pd.pivot_table(df, values='DealID', index=['Exit Type'],

                    columns=['semi year'], aggfunc=lambda x: len(x.unique()))

In [81]:
table4

semi year,2013 1H,2013 2H,2014 1H,2014 2H,2015 1H,2015 2H,2016 1H,2016 2H,2017 1H,2017 2H,2018 1H,2018 2H,2019 1H,2019 2H,2020 1H,2020 2H
Exit Type,,,,,,,,,,,,,,,,
IPO,16.0,29.0,38.0,44.0,29.0,28.0,21.0,26.0,25.0,37.0,19.0,11.0,9.0,27.0,9.0,27.0
Open market sale,119.0,94.0,101.0,107.0,108.0,62.0,81.0,76.0,87.0,61.0,47.0,12.0,27.0,18.0,16.0,15.0
PE Secondary Exit,53.0,60.0,55.0,57.0,36.0,42.0,46.0,55.0,46.0,50.0,63.0,46.0,41.0,49.0,29.0,38.0
Share buyback,43.0,35.0,28.0,31.0,40.0,28.0,25.0,13.0,27.0,11.0,30.0,14.0,12.0,5.0,9.0,6.0
Trade sale,136.0,157.0,142.0,175.0,128.0,159.0,159.0,167.0,162.0,185.0,138.0,136.0,147.0,143.0,101.0,85.0
Written off,3.0,5.0,3.0,4.0,3.0,1.0,2.0,1.0,2.0,3.0,1.0,NaN,NaN,NaN,2.0,NaN

In [82]:
table4.to_excel('table4.xlsx')

In [ ]:
# Secondary Exit

In [83]:
df1 = df[df['PE Secondary Exit'] == 'Yes']
df1

,DealID,Exit Type,Transaction Date,ClosingDate,Transaction Amount (US$m.),Transaction Currency,Transaction Amount (Transaction Currency),DealType,Stake (%),Investee/Target,...,Company Valuation (US$m.),Estimated Return (IRR),Estimated Return (Multiple),Holding Month,Deal Summary,PE Secondary Exit,year,month,half year,semi year
1502,156838,PE Secondary Exit,2020-11-30,2020-11-30,NaN,US Dollar,NaN,Acquisition,NaN,TF Value Mart Sdn Bhd.,...,NaN,NaN,NaN,58.2,KV Asia Capital has fully exited its investmen...,Yes,2020,11,2H,2020 2H
4120,88710,PE Secondary Exit,2013-01-06,2013-09-02,NaN,China Yuan Renminbi,NaN,PE Investment,0.95,"Beijing Xinwei Telecom Technology Co.,Ltd.",...,NaN,NaN,NaN,7.9,Shandong High-Tech Investment Corp. has inject...,Yes,2013,1,1H,2013 1H
4121,54095,PE Secondary Exit,2013-01-16,2013-01-16,16.63,Indian Rupee,910.0,PE Investment,13.33,Repco Home Finance Ltd.,...,124.74,NaN,3.24,61.1,Wolfensohn India Advisors has paid Rs910 milli...,Yes,2013,1,1H,2013 1H
4122,78134,PE Secondary Exit,2013-01-22,2013-02-01,40.89,Indian Rupee,2200.0,PE Investment,NaN,Transpole Logistics Pvt. Ltd.,...,NaN,NaN,NaN,21.3,Everstone Investment Advisors has invested Rs2...,Yes,2013,1,1H,2013 1H
4123,74085,PE Secondary Exit,2013-01-31,2013-02-01,39.60,US Dollar,39.6,PE Investment,14.30,Dr. Lal PathLabs Ltd.,...,276.92,NaN,NaN,93.3,Westbridge Advisors and TA Associates have acq...,Yes,2013,1,1H,2013 1H
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4902,116977,PE Secondary Exit,2020-03-20,2020-03-20,47.38,Indian Rupee,3500.0,VC Investment,NaN,Veritas Finance Pvt. Ltd.,...,NaN,NaN,NaN,NaN,India-based non-banking financial company (NBF...,Yes,2020,3,1H,2020 1H
4903,132520,PE Secondary Exit,2020-06-05,2020-06-05,3.44,Indian Rupee,260.0,VC Investment,NaN,Aviom India Housing Finance Pvt Ltd,...,NaN,NaN,NaN,NaN,India-based Aviom India Housing Finance has ra...,Yes,2020,6,1H,2020 1H
4904,155344,PE Secondary Exit,2020-09-30,2020-09-30,3.13,Japanese Yen,330.0,VC Investment,NaN,"AViC Co., Ltd.",...,NaN,NaN,NaN,NaN,Mizuho Capital and Mobile Internet Capital has...,Yes,2020,9,2H,2020 2H
4905,157443,PE Secondary Exit,2020-10-30,2020-06-11,NaN,China Yuan Renminbi,NaN,VC Investment,12.36,"Suzhou Feikong Taike Technology Co., Ltd.",...,NaN,NaN,NaN,12.6,Shanghai Xinshuo Investment Management has agr...,Yes,2020,10,2H,2020 2H
4906,116153,PE Secondary Exit,2020-11-10,2020-11-10,110.00,US Dollar,110.0,VC Investment,31.00,BusyBees Logistics Solutions Pvt. Ltd. (Xpress...,...,354.84,NaN,NaN,57.5,India-based E-commerce focused end-to-end supp...,Yes,2020,11,2H,2020 2H

In [85]:
table5 = pd.pivot_table(df1, values='Transaction Amount (US$m.)', index=['Investee/Target - Country'],

                    columns=['semi year'], aggfunc=np.sum)
table5

semi year,2013 1H,2013 2H,2014 1H,2014 2H,2015 1H,2015 2H,2016 1H,2016 2H,2017 1H,2017 2H,2018 1H,2018 2H,2019 1H,2019 2H,2020 1H,2020 2H
Investee/Target - Country,,,,,,,,,,,,,,,,
Australia,NaN,1499.92,2450.04,1412.67,0.00,375.37,597.05,1354.76,755.27,1557.34,2042.98,2003.60,150.00,1654.56,2624.82,2572.63
China (PRC),603.60,746.74,608.13,1278.22,387.72,1387.96,819.03,994.01,25.70,1238.13,2771.34,292.88,205.86,1626.68,77.79,300.00
Hong Kong,NaN,NaN,220.00,576.06,NaN,0.00,0.00,124.96,NaN,0.00,520.00,NaN,NaN,NaN,NaN,NaN
India,1297.18,1275.59,476.60,239.03,1867.65,1353.21,665.91,861.43,2520.90,1846.99,3167.46,1762.44,2148.40,2244.34,991.53,1134.37
Indonesia,435.00,119.94,NaN,0.00,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,0.00
Japan,1292.07,456.61,893.50,1228.85,184.44,0.43,342.91,37.10,4.54,54.57,25.02,96.90,1456.64,0.00,14.18,465.82
Malaysia,0.00,12.36,NaN,275.26,14.47,NaN,NaN,1056.98,65.55,NaN,431.34,NaN,NaN,NaN,NaN,18.13
Maldives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.00,NaN,NaN,NaN,NaN,NaN,NaN
New Zealand,NaN,407.08,NaN,NaN,NaN,535.99,NaN,235.51,NaN,NaN,NaN,145.24,0.00,139.55,NaN,0.00
Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,330.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,0.72,NaN,NaN,780.00,NaN,318.37,350.00,285.91,34.86,10526.79,367.95,1639.52,NaN,1598.65,NaN,NaN
South Korea,1188.19,382.12,402.03,221.26,544.59,54.09,648.37,910.44,1949.83,605.20,1696.70,6554.73,1521.25,3805.26,1492.38,760.64
Sri Lanka,NaN,NaN,NaN,NaN,NaN,53.13,NaN,NaN,NaN,NaN,NaN,12.00,NaN,NaN,NaN,NaN
Taiwan,0.08,NaN,NaN,118.96,NaN,NaN,NaN,NaN,NaN,NaN,1734.11,NaN,NaN,NaN,NaN,NaN
Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,91.00,NaN,NaN
Vietnam,110.00,NaN,90.00,35.00,NaN,NaN,139.50,120.00,225.00,150.00,43.78,209.00,NaN,0.00,NaN,NaN

In [86]:
table5.to_excel('table5.xlsx')

In [87]:
table6 = pd.pivot_table(df1, values='DealID', index=['Investee/Target - Country'],

                    columns=['semi year'], aggfunc=lambda x: len(x.unique()))
table6

semi year,2013 1H,2013 2H,2014 1H,2014 2H,2015 1H,2015 2H,2016 1H,2016 2H,2017 1H,2017 2H,2018 1H,2018 2H,2019 1H,2019 2H,2020 1H,2020 2H
Investee/Target - Country,,,,,,,,,,,,,,,,
Australia,NaN,8.0,8.0,4.0,1.0,5.0,4.0,6.0,2.0,5.0,12.0,7.0,5.0,6.0,2.0,5.0
China (PRC),8.0,11.0,5.0,13.0,6.0,10.0,8.0,10.0,5.0,10.0,11.0,2.0,4.0,7.0,3.0,4.0
Hong Kong,NaN,NaN,1.0,2.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
India,19.0,17.0,19.0,10.0,11.0,14.0,10.0,13.0,20.0,14.0,21.0,13.0,17.0,14.0,12.0,9.0
Indonesia,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
Japan,15.0,11.0,10.0,11.0,9.0,2.0,8.0,11.0,4.0,7.0,3.0,4.0,4.0,5.0,2.0,5.0
Malaysia,1.0,1.0,NaN,3.0,1.0,NaN,NaN,2.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,3.0
Maldives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
New Zealand,NaN,1.0,NaN,NaN,NaN,5.0,NaN,1.0,NaN,NaN,NaN,2.0,1.0,2.0,NaN,1.0
Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,1.0,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,2.0,3.0,3.0,NaN,2.0,NaN,NaN
South Korea,6.0,10.0,11.0,10.0,8.0,3.0,13.0,7.0,7.0,9.0,8.0,13.0,10.0,11.0,10.0,10.0
Sri Lanka,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
Taiwan,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
Vietnam,1.0,NaN,1.0,1.0,NaN,NaN,1.0,2.0,2.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN

In [88]:
table6.to_excel('table6.xlsx')

In [89]:
df2 = pd.read_excel('D:/IPO2013-2020.xlsx')
df2.head()

,DealID,Listing Date,Issuer,Issuer - Country,Issuer - Primary Industry,Issuer - Secondary Industry,Private Equity Shareholder(s),Private Equity Shareholder(s) CompanyType,Lead Manager(s),Stock Exchange,Ticker,IPO Currency,Offering Price,IPO Fundraising (US$m.),Company Valuation (US$m.),Percentage of Float,Exited Amount (US$m.),Exited Stake,Estimated Return (IRR),Estimated Return (Multiple)
0,157241,2020-12-28,"Kringle Pharma, Inc",Japan,Medical,Pharmaceuticals,"Bio-Sight Capital, Inc.; CEJ Capital Inc.; DBJ...",Venture Incubator; Corporate Venture Capital A...,"Nomura Securities Co., Ltd.",Tokyo Stock Exchange - MOTHERS(Japan),4884,Japanese Yen,1000,6.45,NaN,15.7769,NaN,NaN,NaN,NaN
1,157215,2020-12-25,"FunPep Co., Ltd.",Japan,Medical,Biotechnology,"Bio-Sight Capital, Inc.; Japan Asia Investment...",Venture Incubator; Venture Capital; Bank Priva...,"SBI Securities Co., Ltd.",Tokyo Stock Exchange - MOTHERS(Japan),4881,Japanese Yen,650,19.82,NaN,18.8133,NaN,NaN,NaN,NaN
2,157213,2020-12-23,"Koukandekirukun, Inc.",Japan,Services - Non-Financial,Misc. Repair,"Nippon Venture Capital Co., Ltd.",Venture Capital,"SBI Securities Co., Ltd.",Tokyo Stock Exchange - MOTHERS(Japan),7695,Japanese Yen,2050,7.98,NaN,18.5484,NaN,NaN,NaN,NaN
3,157214,2020-12-23,"Enechange Co., Ltd.",Japan,Information technology,Internet-Content Provider,B Dash Venture Inc.; Bonds Investment Group; E...,Venture Capital; Corporate Venture Capital Arm...,"Mizuho Securities Co., Ltd.",Tokyo Stock Exchange - MOTHERS(Japan),4169,Japanese Yen,600,2.54,33.38,7.6,0.70,2.09,NaN,NaN
4,157192,2020-12-22,WealthNavi Inc.,Japan,Information technology,Financial Technology,Bonds Investment Group; Chiba Dojo KK; DBJ Cap...,Corporate Venture Capital Arm; Venture Capital...,"SBI Securities Co., Ltd.",Tokyo Stock Exchange - MOTHERS(Japan),7342,Japanese Yen,1150,190.88,500.39,38.1468,128.04,25.59,NaN,NaN

In [90]:
df2['year'] = pd.DatetimeIndex(df2['Listing Date']).year
df2['month'] = pd.DatetimeIndex(df2['Listing Date']).month
df2['half year'] = np.where(df2['month']<=6, '1H','2H')
df2['semi year'] =  df2['year'].astype(str) + ' '+ df2['half year']

In [91]:
df2.head()

,DealID,Listing Date,Issuer,Issuer - Country,Issuer - Primary Industry,Issuer - Secondary Industry,Private Equity Shareholder(s),Private Equity Shareholder(s) CompanyType,Lead Manager(s),Stock Exchange,...,Company Valuation (US$m.),Percentage of Float,Exited Amount (US$m.),Exited Stake,Estimated Return (IRR),Estimated Return (Multiple),year,month,half year,semi year
0,157241,2020-12-28,"Kringle Pharma, Inc",Japan,Medical,Pharmaceuticals,"Bio-Sight Capital, Inc.; CEJ Capital Inc.; DBJ...",Venture Incubator; Corporate Venture Capital A...,"Nomura Securities Co., Ltd.",Tokyo Stock Exchange - MOTHERS(Japan),...,NaN,15.7769,NaN,NaN,NaN,NaN,2020,12,2H,2020 2H
1,157215,2020-12-25,"FunPep Co., Ltd.",Japan,Medical,Biotechnology,"Bio-Sight Capital, Inc.; Japan Asia Investment...",Venture Incubator; Venture Capital; Bank Priva...,"SBI Securities Co., Ltd.",Tokyo Stock Exchange - MOTHERS(Japan),...,NaN,18.8133,NaN,NaN,NaN,NaN,2020,12,2H,2020 2H
2,157213,2020-12-23,"Koukandekirukun, Inc.",Japan,Services - Non-Financial,Misc. Repair,"Nippon Venture Capital Co., Ltd.",Venture Capital,"SBI Securities Co., Ltd.",Tokyo Stock Exchange - MOTHERS(Japan),...,NaN,18.5484,NaN,NaN,NaN,NaN,2020,12,2H,2020 2H
3,157214,2020-12-23,"Enechange Co., Ltd.",Japan,Information technology,Internet-Content Provider,B Dash Venture Inc.; Bonds Investment Group; E...,Venture Capital; Corporate Venture Capital Arm...,"Mizuho Securities Co., Ltd.",Tokyo Stock Exchange - MOTHERS(Japan),...,33.38,7.6,0.70,2.09,NaN,NaN,2020,12,2H,2020 2H
4,157192,2020-12-22,WealthNavi Inc.,Japan,Information technology,Financial Technology,Bonds Investment Group; Chiba Dojo KK; DBJ Cap...,Corporate Venture Capital Arm; Venture Capital...,"SBI Securities Co., Ltd.",Tokyo Stock Exchange - MOTHERS(Japan),...,500.39,38.1468,128.04,25.59,NaN,NaN,2020,12,2H,2020 2H

In [33]:
for col in df2.columns: 
    print(col)

DealID
Listing Date
Issuer
Issuer - Country
Issuer - Primary Industry
Issuer - Secondary Industry
Private Equity Shareholder(s)
Private Equity Shareholder(s) CompanyType
Lead Manager(s)
Stock Exchange
Ticker
IPO Currency
Offering Price
IPO Fundraising (US$m.)
Company Valuation (US$m.)
Percentage of Float
Exited Amount (US$m.)
Exited Stake
Estimated Return (IRR)
Estimated Return (Multiple)
year

In [96]:
table7 = pd.pivot_table(df2, values='IPO Fundraising (US$m.)', index=['Issuer - Country'],

                    columns=['semi year'], aggfunc=np.sum)
table7

semi year,2013 1H,2013 2H,2014 1H,2014 2H,2015 1H,2015 2H,2016 1H,2016 2H,2017 1H,2017 2H,2018 1H,2018 2H,2019 1H,2019 2H,2020 1H,2020 2H
Issuer - Country,,,,,,,,,,,,,,,,
Australia,527.89,2180.33,3053.02,3926.89,1050.23,1984.56,68.90,922.96,43.12,99.40,1.21,NaN,144.67,254.63,23.05,2.387380e+03
China (PRC),1586.47,7688.86,10264.64,40393.45,26001.41,8421.03,1632.25,20341.41,13852.06,15006.25,16530.13,19304.59,6095.96,9658.02,14778.96,2.393752e+04
Hong Kong,11.58,280.69,304.00,2354.90,1125.38,NaN,1124.93,336.17,NaN,556.36,84.52,NaN,90.00,6432.68,NaN,NaN
India,214.04,NaN,30.11,111.79,326.76,592.49,1011.95,2817.28,729.64,3632.18,1509.52,839.48,368.63,237.69,1401.77,1.916783e+08
Indonesia,148.41,45.46,78.88,15.39,62.95,NaN,NaN,NaN,2.79,NaN,NaN,62.77,NaN,NaN,5.77,NaN
Japan,759.67,1090.74,4235.82,3955.21,517.11,1711.80,939.00,927.16,1479.93,1180.34,1924.26,662.80,108.65,1214.50,190.28,1.694000e+03
Malaysia,0.00,422.03,293.12,429.14,907.27,NaN,3.19,8.88,131.91,NaN,NaN,NaN,247.87,NaN,NaN,NaN
New Zealand,21.85,680.21,NaN,329.06,21.11,244.61,214.06,55.03,138.11,6.46,NaN,15.09,NaN,NaN,NaN,9.866000e+01
Singapore,NaN,277.50,77.82,49.64,12.45,24.98,NaN,24.02,75.95,914.53,NaN,NaN,NaN,16.30,NaN,NaN
South Korea,151.28,833.47,7.25,725.01,594.46,1804.04,264.99,957.67,1334.02,1610.62,380.41,615.64,559.56,2761.99,235.36,1.247130e+03
Taiwan,1150.10,59.47,NaN,NaN,10.93,20.03,32.49,19.13,NaN,NaN,NaN,NaN,NaN,NaN,9.84,NaN
Thailand,159.38,16.85,NaN,NaN,NaN,93.44,NaN,NaN,NaN,145.07,NaN,NaN,NaN,1371.35,NaN,NaN
Vietnam,0.00,NaN,NaN,0.00,NaN,NaN,NaN,NaN,0.00,0.00,6768.76,NaN,NaN,NaN,NaN,NaN

In [97]:
table7.to_excel('table7.xlsx')

In [98]:
table8 = pd.pivot_table(df2, values='DealID', index=['Issuer - Country'],

                    columns=['semi year'], aggfunc=lambda x: len(x.unique()))
table8

semi year,2013 1H,2013 2H,2014 1H,2014 2H,2015 1H,2015 2H,2016 1H,2016 2H,2017 1H,2017 2H,2018 1H,2018 2H,2019 1H,2019 2H,2020 1H,2020 2H
Issuer - Country,,,,,,,,,,,,,,,,
Australia,3.0,8.0,10.0,15.0,5.0,8.0,3.0,4.0,4.0,6.0,1.0,NaN,3.0,5.0,2.0,12.0
China (PRC),5.0,29.0,60.0,54.0,92.0,32.0,26.0,112.0,157.0,125.0,54.0,41.0,35.0,52.0,97.0,85.0
Hong Kong,1.0,2.0,1.0,1.0,3.0,NaN,1.0,6.0,NaN,3.0,1.0,NaN,1.0,5.0,NaN,NaN
India,2.0,NaN,1.0,3.0,5.0,8.0,8.0,12.0,6.0,13.0,7.0,4.0,2.0,2.0,1.0,5.0
Indonesia,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN
Japan,16.0,30.0,20.0,35.0,29.0,27.0,19.0,16.0,20.0,27.0,20.0,19.0,13.0,23.0,15.0,31.0
Malaysia,1.0,2.0,1.0,2.0,4.0,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
New Zealand,1.0,1.0,NaN,4.0,1.0,3.0,2.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,2.0
Singapore,NaN,3.0,2.0,3.0,1.0,2.0,NaN,4.0,4.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN
South Korea,7.0,19.0,1.0,26.0,15.0,34.0,7.0,27.0,15.0,19.0,13.0,28.0,11.0,21.0,11.0,20.0
Taiwan,4.0,1.0,NaN,NaN,1.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
Thailand,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,NaN,NaN
Vietnam,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN

In [100]:
table8.to_excel('table8.xlsx')

In [39]:
df3 = df[df['Exit Type'] == 'IPO']
df3

,DealID,Exit Type,Transaction Date,ClosingDate,Transaction Amount (US$m.),Transaction Currency,Transaction Amount (Transaction Currency),DealType,Stake (%),Investee/Target,...,Vendor - Primary Industry,Investor/Acquiror,Involved Fund,Company Valuation (US$m.),Estimated Return (IRR),Estimated Return (Multiple),Holding Month,Deal Summary,PE Secondary Exit,year
821,94639,IPO,2013-02-13,NaN,0.94,Japanese Yen,88.20,IPO,1.72,"MEDRx Co., Ltd",...,Financial services; Financial services; Financ...,NaN,114 Venture Capital No.2 Investment Enterprise...,54.87,NaN,NaN,29.3,NaN,No,2013
822,94679,IPO,2013-02-14,NaN,0.05,Japanese Yen,4.50,IPO,0.29,Kaitori Okoku,...,Financial services; Financial services; Financ...,NaN,"Aichi Venture Fund Investment Enterprise L.P.,...",16.62,NaN,NaN,NaN,NaN,No,2013
823,94708,IPO,2013-02-14,NaN,1.48,Japanese Yen,138.00,IPO,5.20,"Beauty Garage, Inc.",...,Financial services,NaN,"JAFCO V-1 (A) Venture Capital Investment L.P.,...",28.40,NaN,NaN,NaN,NaN,No,2013
824,95446,IPO,2013-03-14,NaN,0.53,Japanese Yen,50.40,IPO,0.78,Oisix Inc,...,Financial services; Financial services; Financ...,NaN,"Globis Fund III, L.P., Nissay Capital No.4 Inv...",67.73,NaN,NaN,NaN,NaN,No,2013
825,95437,IPO,2013-03-14,NaN,7.18,Japanese Yen,684.75,IPO,11.41,Alt Plus Inc.,...,Financial services; Financial services,NaN,"Mizuho Capital No.3 Investment, L.P., Tokyo Di...",62.89,NaN,18.94,32.3,NaN,No,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047,122088,IPO,2016-12-01,NaN,2.59,China Yuan Renminbi,17.93,IPO,0.89,"Suzhou Keda Technology Co., Ltd.",...,Financial services; Financial services,NaN,"Suzhou Gaojin Venture Capital Co., Ltd.",291.12,NaN,NaN,150.2,NaN,No,2016
1048,121457,IPO,2016-12-02,NaN,0.50,Hong Kong Dollar,3.91,IPO,0.94,CMON Ltd. (CoolMiniOrNot),...,Financial services,NaN,NaN,53.51,NaN,NaN,30.0,NaN,No,2016
1049,122667,IPO,2016-12-02,NaN,4.79,South Korean Won,5640.00,IPO,2.17,Hands Corporation Ltd.,...,Financial services,NaN,NaN,220.92,NaN,NaN,5.2,NaN,No,2016
1050,122726,IPO,2016-12-12,NaN,5.11,South Korean Won,5970.95,IPO,7.69,Microfriend Inc.,...,Financial services; Financial services; Financ...,NaN,KoFC-Tong Yang Pioneer Champ 2011-11 Venture C...,66.39,NaN,NaN,92.1,NaN,No,2016
1051,121734,IPO,2016-12-19,NaN,95.12,Indian Rupee / Indian Rupee,6448.76,IPO,14.25,Laurus Labs Ltd.,...,Financial services; Financial services,NaN,NaN,667.64,NaN,NaN,59.0,"At IPO of Laurus Labs, Warburg Pincus has sold...",No,2016

In [41]:
table7 = pd.pivot_table(df3, values='Transaction Amount (US$m.)', index=['Investee/Target - Country'],

                    columns=['year'], aggfunc=np.sum)
table7

year                          2013     2014     2015     2016
Investee/Target - Country
Australia                  1272.47  2244.02   824.79   433.78
China (PRC)                 149.21  2994.13   238.20    36.90
Hong Kong                    24.03      NaN   744.22      NaN
India                       137.86    57.99   270.76   921.96
Indonesia                      NaN     6.21      NaN      NaN
Japan                       406.08  3554.31  1385.13  1363.95
Malaysia                      0.00   162.42   267.68      NaN
New Zealand                 171.43   197.99    83.85   132.80
Singapore                      NaN    10.48      NaN     0.50
South Korea                 130.00    86.88   623.25   141.11
Taiwan                      849.12      NaN      NaN      NaN
Thailand                     53.13      NaN    34.33      NaN

In [42]:
table7.to_excel('table7.xlsx')

In [44]:
table8 = pd.pivot_table(df3, values='DealID', index=['Investee/Target - Country'],

                    columns=['year'], aggfunc=lambda x: len(x.unique()))
table8

year                       2013  2014  2015  2016
Investee/Target - Country
Australia                   6.0  17.0   7.0   4.0
China (PRC)                 5.0  26.0   5.0   4.0
Hong Kong                   1.0   NaN   2.0   NaN
India                       1.0   2.0  10.0  15.0
Indonesia                   NaN   1.0   NaN   NaN
Japan                      26.0  30.0  21.0  14.0
Malaysia                    1.0   1.0   1.0   NaN
New Zealand                 2.0   2.0   1.0   2.0
Singapore                   NaN   1.0   NaN   1.0
South Korea                 1.0   2.0   9.0   7.0
Taiwan                      1.0   NaN   NaN   NaN
Thailand                    1.0   NaN   1.0   NaN

In [30]:
table8.to_excel('table8.xlsx')

NameError: name 'table8' is not defined

In [56]:
df4 = pd.read_excel('D:/fundraising2013-2016.xlsx',header=1,index_col= 0)

In [57]:
df4.head()

,No of Funds,Amount (US$m.),No of Funds.1,Amount (US$m.).1,No of Funds.2,Amount (US$m.).2,No of Funds.3,Amount (US$m.).3
Country,,,,,,,,
Australia,17,1450.42,16,4247.35,18,2274.42,35,6404.07
Bangladesh,0,0.00,0,0.00,0,0.00,1,104.00
Brunei,0,0.00,0,0.00,0,0.00,1,60.00
Cambodia,0,0.00,0,0.00,1,36.00,0,0.00
China (PRC),160,23379.89,211,63679.11,313,63694.82,311,125523.89

In [60]:
df4.columns[0:2]

Index(['No of Funds', 'Amount (US$m.)'], dtype='object')

In [46]:
def rename_col_list(startyear,endyear):
    l1=[]
    a = int(startyear)
    for i in range(int(endyear)-int(startyear)+1):
        l1.append(str(a)+ ' No of Funds')
        l1.append(str(a)+' Amount(US$m.)')
        a = a+1
    return(l1)

In [47]:
col_list = rename_col_list(2013,2016)
col_list

['2013 No of Funds',
 '2013 Amount(US$m.)',
 '2014 No of Funds',
 '2014 Amount(US$m.)',
 '2015 No of Funds',
 '2015 Amount(US$m.)',
 '2016 No of Funds',
 '2016 Amount(US$m.)']

In [48]:
df4.columns = col_list

In [49]:
df4.head()

,2013 No of Funds,2013 Amount(US$m.),2014 No of Funds,2014 Amount(US$m.),2015 No of Funds,2015 Amount(US$m.),2016 No of Funds,2016 Amount(US$m.)
Country,,,,,,,,
Australia,17,1450.42,16,4247.35,18,2274.42,35,6404.07
Bangladesh,0,0.00,0,0.00,0,0.00,1,104.00
Brunei,0,0.00,0,0.00,0,0.00,1,60.00
Cambodia,0,0.00,0,0.00,1,36.00,0,0.00
China (PRC),160,23379.89,211,63679.11,313,63694.82,311,125523.89

In [50]:
def replace_col_list(startyear,endyear):
    l1=[]
    a = int(startyear)
    b = int(startyear)
    for i in range(int(endyear)-int(startyear)+1):
        l1.append(str(a)+ ' No of Funds')
        a = a+1
    for i in range(int(endyear)-int(startyear)+1):
        l1.append(str(b)+' Amount(US$m.)')
        b= b+1
    return(l1)

In [51]:
replace_list = replace_col_list(2013,2016)
replace_list

['2013 No of Funds',
 '2014 No of Funds',
 '2015 No of Funds',
 '2016 No of Funds',
 '2013 Amount(US$m.)',
 '2014 Amount(US$m.)',
 '2015 Amount(US$m.)',
 '2016 Amount(US$m.)']

In [52]:
df4 = df4[replace_list]

In [53]:
df4.head()

,2013 No of Funds,2014 No of Funds,2015 No of Funds,2016 No of Funds,2013 Amount(US$m.),2014 Amount(US$m.),2015 Amount(US$m.),2016 Amount(US$m.)
Country,,,,,,,,
Australia,17,16,18,35,1450.42,4247.35,2274.42,6404.07
Bangladesh,0,0,0,1,0.00,0.00,0.00,104.00
Brunei,0,0,0,1,0.00,0.00,0.00,60.00
Cambodia,0,0,1,0,0.00,0.00,36.00,0.00
China (PRC),160,211,313,311,23379.89,63679.11,63694.82,125523.89

In [55]:
df4.to_excel('df4.xlsx')