In [2]:
import pandas as pd
import numpy as np
import os,sys

In [3]:
df = pd.read_excel('D:/allpeexit.xlsx')

In [4]:
df.head()

,DealID,Exit Type,Transaction Date,ClosingDate,Transaction Amount (US$m.),Transaction Currency,Transaction Amount (Transaction Currency),DealType,Stake (%),Investee/Target,...,Vendor - Company Type,Vendor - Primary Industry,Investor/Acquiror,Involved Fund,Company Valuation (US$m.),Estimated Return (IRR),Estimated Return (Multiple),Holding Month,Deal Summary,PE Secondary Exit
0,75465,Open market sale,2008-01-01,2008-01-01,NaN,Indian Rupee,NaN,Acquisition,NaN,Shree Ganesh Forgings Ltd.,...,Private Equity,Financial services,Undisclosed Investor(s) (India),Jina Fund I,NaN,NaN,NaN,NaN,Jina Ventures has exited its investment in Shr...,No
1,55421,Trade sale,2008-01-07,2008-02-27,1.03,US Dollar,1.03,Acquisition,100.0,Growth State International Ltd.,...,Venture Capital,Financial services,CKT Technology Co. Ltd. (Taiwan),NaN,1.03,NaN,NaN,13.9,CKT Technology has acquired a 100% stake of Gr...,No
2,56738,Trade sale,2008-01-08,2008-01-08,NaN,Malaysian Ringgit,NaN,Acquisition,20.0,TTM Industries (M) Sdn. Bhd.,...,Private Equity,Financial services,Advance SCT Ltd. (Singapore),Tembusu Growth Fund I Ltd.,NaN,NaN,NaN,NaN,Tembusu Partners' Tembusu Growth Fund has sold...,No
3,55905,Trade sale,2008-01-08,2008-01-08,3.32,New Zealand Dollar,4.30,Acquisition,100.0,Esphion Ltd.,...,Corporation; Venture Capital; Venture Capital;...,Computer related; Financial services; Financia...,Allot Communications Ltd. (Israel),NaN,3.32,NaN,NaN,66.3,"Allot Communications has purchased Esphion, a ...",No
4,54146,Trade sale,2008-01-08,2008-01-08,12.43,US Dollar,12.43,Acquisition,91.2,Singular ID Pte Ltd.,...,Venture Capital; Corporation; Venture Capital;...,Financial services; Information technology; Fi...,Bilcare Singapore Pte. Ltd. (Singapore),Upstream Pioneer Fund,13.63,NaN,NaN,5.4,Pharmaceutical packaging solutions provider Bi...,No

In [5]:
print (df.columns)

Index(['DealID', 'Exit Type', 'Transaction Date', 'ClosingDate',
       'Transaction Amount (US$m.)', 'Transaction Currency',
       'Transaction Amount (Transaction Currency)', 'DealType', 'Stake (%)',
       'Investee/Target', 'Investee/Target - Country',
       'Investee/Target - Primary Industry ',
       'Investee/Target - Secondary Industry', 'Vendor', 'Vendor - Country',
       'Vendor - Company Type', 'Vendor - Primary Industry',
       'Investor/Acquiror', 'Involved Fund', 'Company Valuation (US$m.)',
       'Estimated Return (IRR)', 'Estimated Return (Multiple)',
       'Holding Month', 'Deal Summary', 'PE Secondary Exit'],
      dtype='object')

In [6]:
df['year'] = pd.DatetimeIndex(df['Transaction Date']).year

In [7]:
def lam1(x):
    return x.isna().sum() + x.notna().sum()
def lam2(x):
    return x.notna().sum()

In [8]:
table = pd.pivot_table(df, values=['Transaction Amount (US$m.)'], 
                                   index=['year', 'Investee/Target - Country'], 
                                   columns=['Exit Type'], 
                                   aggfunc=  [lam1, lam2, np.sum])

In [10]:
table.columns.set_levels(['No. of Deals','No. of Disclosed Deals', 'US$'],level=0,inplace=True)

In [12]:
table.columns = table.columns.droplevel(1)
table

                               No. of Deals                   \
Exit Type                               IPO Open market sale
year Investee/Target - Country
2008 Australia                          1.0              1.0
     China (PRC)                        4.0             18.0
     Hong Kong                          NaN              3.0
     India                              3.0              6.0
     Indonesia                          NaN              NaN
...                                     ...              ...
2020 Philippines                        NaN              NaN
     Singapore                          NaN              NaN
     South Korea                        2.0              2.0
     Taiwan                             NaN              NaN
     Vietnam                            NaN              1.0

                                                                           \
Exit Type                      PE Secondary Exit Share buyback Trade sale
year Investee/Target - Country
2008 Australia                               4.0           NaN       29.0
     China (PRC)                             7.0           5.0       22.0
     Hong Kong                               NaN           1.0        3.0
     India                                  13.0           NaN       18.0
     Indonesia                               NaN           NaN        2.0
...                                          ...           ...        ...
2020 Philippines                             NaN           NaN        2.0
     Singapore                               NaN           NaN        5.0
     South Korea                            20.0           3.0       27.0
     Taiwan                                  NaN           NaN        1.0
     Vietnam                                 NaN           NaN        3.0

                                           No. of Disclosed Deals  \
Exit Type                      Written off                    IPO
year Investee/Target - Country
2008 Australia                         NaN                    1.0
     China (PRC)                       NaN                    4.0
     Hong Kong                         NaN                    NaN
     India                             NaN                    3.0
     Indonesia                         NaN                    NaN
...                                    ...                    ...
2020 Philippines                       NaN                    NaN
     Singapore                         NaN                    NaN
     South Korea                       NaN                    2.0
     Taiwan                            NaN                    NaN
     Vietnam                           NaN                    NaN

                                                                   \
Exit Type                      Open market sale PE Secondary Exit
year Investee/Target - Country
2008 Australia                              1.0               3.0
     China (PRC)                           18.0               7.0
     Hong Kong                              3.0               NaN
     India                                  5.0              11.0
     Indonesia                              NaN               NaN
...                                         ...               ...
2020 Philippines                            NaN               NaN
     Singapore                              NaN               NaN
     South Korea                            2.0              19.0
     Taiwan                                 NaN               NaN
     Vietnam                                0.0               NaN

                                                                       US$  \
Exit Type                      Share buyback Trade sale Written off    IPO
year Investee/Target - Country
2008 Australia                           NaN       19.0         NaN  20.21
     China (PRC)                         3.0       21.0         NaN  32.58
     Hong Kong                           1.0        3.0         NaN    NaN
     India                               NaN       11.0         NaN  60.55
     Indonesia                           NaN        2.0         NaN    NaN
...                                      ...        ...         ...    ...
2020 Philippines                         NaN        1.0         NaN    NaN
     Singapore                           NaN        3.0         NaN    NaN
     South Korea                         3.0       25.0         NaN  64.65
     Taiwan                              NaN        0.0         NaN    NaN
     Vietnam                             NaN        2.0         NaN    NaN

                                                                   \
Exit Type                      Open market sale PE Secondary Exit
year Investee/Target - Country
2008 Australia                             6.14            376.80
     China (PRC)                        1051.02            378.84
     Hong Kong                           244.58               NaN
     India                               110.69            391.18
     Indonesia                              NaN               NaN
...                                         ...               ...
2020 Philippines                            NaN               NaN
     Singapore                              NaN               NaN
     South Korea                          74.69           2253.02
     Taiwan                                 NaN               NaN
     Vietnam                               0.00               NaN


Exit Type                      Share buyback Trade sale Written off
year Investee/Target - Country
2008 Australia                           NaN    2737.34         NaN
     China (PRC)                      117.60    1079.33         NaN
     Hong Kong                          3.22      31.23         NaN
     India                               NaN    2726.37         NaN
     Indonesia                           NaN    1774.51         NaN
...                                      ...        ...         ...
2020 Philippines                         NaN     267.00         NaN
     Singapore                           NaN    1336.12         NaN
     South Korea                      111.91    2668.18         NaN
     Taiwan                              NaN       0.00         NaN
     Vietnam                             NaN      50.40         NaN

[212 rows x 18 columns]

In [13]:
table.columns = table.columns.swaplevel(0, 1)

In [15]:
table.sort_index(axis='columns',level = 'Exit Type', inplace = True)

In [17]:
table

Exit Type                               IPO                                \
                               No. of Deals No. of Disclosed Deals    US$
year Investee/Target - Country
2008 Australia                          1.0                    1.0  20.21
     China (PRC)                        4.0                    4.0  32.58
     Hong Kong                          NaN                    NaN    NaN
     India                              3.0                    3.0  60.55
     Indonesia                          NaN                    NaN    NaN
...                                     ...                    ...    ...
2020 Philippines                        NaN                    NaN    NaN
     Singapore                          NaN                    NaN    NaN
     South Korea                        2.0                    2.0  64.65
     Taiwan                             NaN                    NaN    NaN
     Vietnam                            NaN                    NaN    NaN

Exit Type                      Open market sale                         \
                                   No. of Deals No. of Disclosed Deals
year Investee/Target - Country
2008 Australia                              1.0                    1.0
     China (PRC)                           18.0                   18.0
     Hong Kong                              3.0                    3.0
     India                                  6.0                    5.0
     Indonesia                              NaN                    NaN
...                                         ...                    ...
2020 Philippines                            NaN                    NaN
     Singapore                              NaN                    NaN
     South Korea                            2.0                    2.0
     Taiwan                                 NaN                    NaN
     Vietnam                                1.0                    0.0

Exit Type                               PE Secondary Exit  \
                                    US$      No. of Deals
year Investee/Target - Country
2008 Australia                     6.14               4.0
     China (PRC)                1051.02               7.0
     Hong Kong                   244.58               NaN
     India                       110.69              13.0
     Indonesia                      NaN               NaN
...                                 ...               ...
2020 Philippines                    NaN               NaN
     Singapore                      NaN               NaN
     South Korea                  74.69              20.0
     Taiwan                         NaN               NaN
     Vietnam                       0.00               NaN

Exit Type                                                      Share buyback  \
                               No. of Disclosed Deals      US$  No. of Deals
year Investee/Target - Country
2008 Australia                                    3.0   376.80           NaN
     China (PRC)                                  7.0   378.84           5.0
     Hong Kong                                    NaN      NaN           1.0
     India                                       11.0   391.18           NaN
     Indonesia                                    NaN      NaN           NaN
...                                               ...      ...           ...
2020 Philippines                                  NaN      NaN           NaN
     Singapore                                    NaN      NaN           NaN
     South Korea                                 19.0  2253.02           3.0
     Taiwan                                       NaN      NaN           NaN
     Vietnam                                      NaN      NaN           NaN

Exit Type                                                       Trade sale  \
                               No. of Disclosed Deals     US$ No. of Deals
year Investee/Target - Country
2008 Australia                                    NaN     NaN         29.0
     China (PRC)                                  3.0  117.60         22.0
     Hong Kong                                    1.0    3.22          3.0
     India                                        NaN     NaN         18.0
     Indonesia                                    NaN     NaN          2.0
...                                               ...     ...          ...
2020 Philippines                                  NaN     NaN          2.0
     Singapore                                    NaN     NaN          5.0
     South Korea                                  3.0  111.91         27.0
     Taiwan                                       NaN     NaN          1.0
     Vietnam                                      NaN     NaN          3.0

Exit Type                                                       Written off  \
                               No. of Disclosed Deals      US$ No. of Deals
year Investee/Target - Country
2008 Australia                                   19.0  2737.34          NaN
     China (PRC)                                 21.0  1079.33          NaN
     Hong Kong                                    3.0    31.23          NaN
     India                                       11.0  2726.37          NaN
     Indonesia                                    2.0  1774.51          NaN
...                                               ...      ...          ...
2020 Philippines                                  1.0   267.00          NaN
     Singapore                                    3.0  1336.12          NaN
     South Korea                                 25.0  2668.18          NaN
     Taiwan                                       0.0     0.00          NaN
     Vietnam                                      2.0    50.40          NaN

Exit Type
                               No. of Disclosed Deals US$
year Investee/Target - Country
2008 Australia                                    NaN NaN
     China (PRC)                                  NaN NaN
     Hong Kong                                    NaN NaN
     India                                        NaN NaN
     Indonesia                                    NaN NaN
...                                               ...  ..
2020 Philippines                                  NaN NaN
     Singapore                                    NaN NaN
     South Korea                                  NaN NaN
     Taiwan                                       NaN NaN
     Vietnam                                      NaN NaN

[212 rows x 18 columns]

In [18]:
os.chdir('D:/')

In [20]:
table.to_excel('result2.xlsx')